.Resume-page {
  border: 1px solid;
  color: var(--text-clr);
  padding: 65px 0 30px;
}

/* title */

.Resume-title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 30px;
}

.Resume-title span {
  color: var(--color1);
}
.topic {
  color: var(--color1);
  font-weight: 500;
  text-shadow: 0px 0px 2px;
}
/* section */

.resume-section {
  /* border:1px solid red; */
  display: flex;
  gap: 80px;
  padding: 10px 10% 5px;
  align-items: center;
  margin-left: 50px;
}

/* LEFT & RIGHT */

.resume-left,
.resume-right {
  width: 100%;
  position: relative;
}

/* timeline vertical line */

.resume-left::before,
.resume-right::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 2%;
  height: 90%;
  width: 2px;
  background: var(--color1);
}

/* cards */

.resume-card {
  background:#089af434;
  /* border: 1px solid #1ea7ff; */
  border-radius: 15px;
  padding: 40px;
  height: auto;
  margin-bottom: 50px;
  position: relative;
}

/* highlight cards */

.resume-left .resume-card:nth-child(1) {
  background: #1ea9ff15;
  box-shadow: 0 0 10px #1ea7ff;
}

.resume-right .resume-card:nth-child(2) {
  background: #1ea9ff08;
  box-shadow: 0 0 10px #1ea7ff;
}

/* timeline dot */

.resume-card::before {
  content: "";
  position: absolute;
  left: -38px;
  top: 20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid var(--color1);
  background: var(--color1);
  box-shadow: 0 0 10px var(--color1);
}

/* text */

.resume-card h3 {
  margin-bottom: 10px;
  color:var(--color1);
}

.resume-card p {
  margin: 5px 0;
  text-align: justify;
}

.resume-card ul {
  padding-left: 18px;
}



/* -------- Media Query for Tablets -------- */
@media all and (max-width: 768px) {
  .resume-section {
      /* border: 1px solid; */
    flex-direction: column;
    gap: 30px;
    padding: 10px 13%;
    margin-left: 0;
    margin-bottom:90px;
  }
  
  .resume-card {
    padding: 25px;
    margin-bottom: 30px;
  }

  .Resume-title {
    font-size: 43px;
    margin-top: 40px;
  }

  .resume-card h3 {
    font-size: 20px;
  }

  .resume-card p,
  .resume-card ul {
    font-size: 14px;
  }
}


@media all and (max-width: 576px) {
  .resume-section {
    /* border: 1px solid; */
    flex-direction: column;
    gap: 20px;
    
  }

  .resume-left::before,
  .resume-right::before {
    left: -12px;
  }

  .resume-card {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .resume-card::before {
    left: -30px;
  }

  .Resume-title {
    font-size: 28px;
  }

  .resume-card h3 {
    font-size: 18px;
  }

  .resume-card p,
  .resume-card ul {
    font-size: 13px;
  }

  .resume-card ul {
    padding-left: 15px;
  }
}